.footer {
  background-color: #f8f9fa;
  color: #333;
  padding: 50px 0;
  text-align: center;
  font-size: 16px;

  h3 {
    color: #007bff;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 10px;
  }

  .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin-right: 10px;

      a {
        display: block;
        width: 40px;
        height: 40px;
        background-color: #007bff;
        color: #fff;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;

        i {
          font-size: 20px;
        }
      }
    }
  }
}
