<footer class="bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h3>Contactos</h3>
        <p>santiago valencia,<br>Desarollador FullStack USA</p>
        <p>Phone: (57) 301 722 7996</p>
        <!--<p>miveterinarioya@gmail.com</p>-->
      </div>
      <div class="col-md-6">
        <h3>Sígenos</h3>
        <ul class="list-inline social-icons">
          <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100080561302438" class="link" target="_blank">
            <span class="fa-stack fa-lg" style="color:rgba(21, 32, 196, 0.884);">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a></li>
          <li class="list-inline-item"><a href="https://api.whatsapp.com/send?phone=573214853206&fbclid=IwAR1iHJw5TeCT-NdiH_kdSsYIeSFAtekF_8fb9_OtCHle1c1SbZqGxq6WImU" class="link" target="_blank">
            <span class="fa-stack fa-lg" style="color: rgb(22, 165, 29);">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i>
            </span>
          </a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com/cocinas.cl/" class="link" target="_blank">
            <span class="fa-stack fa-lg" style="color:rgba( 188, 42, 141)">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a></li>
          <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCBhicRlVU7motWR0b6hDRQA" class="link" target="_blank">
            <span class="fa-stack fa-lg" style="color: rgb(255, 0, 0);">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
            </span>
          </a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <p>&copy;santiago valencia,<br>Desarollador FullStack USA</p>
      </div>
    </div>
  </div>
</footer>




