

<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-3 row-cols-2 g-4">
    <div class="col-md-4">
      <div class="card h-100">
        <img src="assets\img\prod1.jpg" class="card-img-top" alt="Producto 1">
        <div class="card-body">
          <h5 class="card-title">Producto 1</h5>
          <p class="card-text">Este es un texto de relleno para mostrar cómo se vería el contenido de la tarjeta. Se puede agregar más texto si es necesario.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Última actualización hace 3 minutos</small>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <img src="assets\img\prod2.jpg" class="card-img-top" alt="Producto 2">
        <div class="card-body">
          <h5 class="card-title">Producto 2</h5>
          <p class="card-text">Este es otro texto de relleno para mostrar cómo se vería el contenido de la tarjeta. Se puede agregar más texto si es necesario.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Última actualización hace 3 minutos</small>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <img src="assets\img\prod3.jpg" class="card-img-top" alt="Producto 3">
        <div class="card-body">
          <h5 class="card-title">Producto 3</h5>
          <p class="card-text">Este es otro texto de relleno para mostrar cómo se vería el contenido de la tarjeta. Se puede agregar más texto si es necesario.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Última actualización hace 3 minutos</small>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <img src="assets\img\prod3.jpg" class="card-img-top" alt="Producto 3">
        <div class="card-body">
          <h5 class="card-title">Producto 3</h5>
          <p class="card-text">Este es otro texto de relleno para mostrar cómo se vería el contenido de la tarjeta. Se puede agregar más texto si es necesario.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Última actualización hace 3 minutos</small>
        </div>
      </div>
    </div>
  </div>
</div>

