


    .navbar {
      background-color: currentcolor;
    }

    .text-bg-dark {
      color: #000000;
    }

    @media only screen and (max-width: 360px) {
      .navbar-brand img {
        width: 40px;
        height: 30px;
      }

      .offcanvas {
        width: 100% !important;
      }

      .offcanvas-header {
        justify-content: space-between;
      }

      .offcanvas-title {
        margin-right: 40px;
      }
    }
