

<form #formulario="ngForm" (ngSubmit)="(formulario.value)">
  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="datos.nombre">
  </div>
  <div class="form-group">
    <label for="apellido">Apellido:</label>
    <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="datos.apellido">
  </div>
  <div class="form-group">
    <label for="edad">Edad:</label>
    <input type="number" class="form-control" id="edad" name="edad" [(ngModel)]="datos.edad">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
