

<br>
<h1 class="container" style="color:aqua">{{title}}</h1>
<br>
<div class="container" >
  <form class="row g-3">
    <div class="col-md-6" class="container">
      <label for="" class="form-label">Nombre :</label>
      <input name="Nombre" type="text" class="form-control"placeholder="Ejemplo :miveterinarioya" #Nombre id="Nombre">
    </div>
    <div class="col-md-6">
      <label for="Email" class="form-label">Email :</label>
      <input name="Email" #Email type="email" class="form-control" id="Email" placeholder="Ejemplo :miveterinarioya@gmail.com">
    </div>
    <div class="col-md-6">
      <label for="Phone" class="form-label">Phone</label>
      <input type="number" class="form-control" name="Phone" #Phone placeholder="Ejemplo :301-722-7996">
    </div>
    <div class="col-md-6">
      <label for="City" class="form-label">City</label>
      <input type="text" class="form-control" id="City" name="City" #City placeholder="Ejemplo : Medellin-Antioquia">
    </div>
    <div class="col-6">
    <label for="Address" class="form-label">Address</label>
    <input type="text" class="form-control" id="Address" name="Address" #Address placeholder="Ejemplo :Casa Crr 131 # 60 D - 59 San Cristóbal vdu">
    </div>
    <div class="col-6">
      <label for="" class="form-label">punto de referencia :</label>
      <input type="text" class="form-control" id="puntodereferncia" placeholder="Ejemplo :viaducto san cristobal via al mar">
    </div>



    <!--<div class="col-md-2">
      <label  class="form-label">Zip</label>
      <input  type="file" class="form-control" >
    </div>-->
    <div class="col-12">
      <div class="form-check"
      >
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          he leido la politica de datos
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-warning" (click)="showModal()" (click)="getregistro()" >Enviar</button>
    </div>

    <p *ngIf="registrado; else mostrarRegistro">mensaje :{{pms}}</p>


  </form>
    <ng-template #mostrarRegistro>
      <p class="btn btn-success">SUS DATOS HAN SIDO TOMADOS CON EXICTO :</p>
      <p>Nombre: {{Nombre.value}} <br>Correo: {{Email.value}} <br>Tel: {{Phone.value}} <br>Addrees: {{Address.value}} <br>Ciudad: {{City.value}} </p>
    </ng-template>

</div>


