
<nav class="navbar navbar-dark bg-right fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets\img\logo.png" alt="Logo" width="60" height="44" class="d-inline-block align-text-top">
      Mi Veterinario Ya
    </a>
    <button class="navbar-toggler" class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel" _msttexthash="294164" _msthash="488">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Cerrar" _mstaria-label="59709" _msthash="489"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">

            <a class="nav-link" href="#" _msttexthash="72878" _msthash="491" routerLink="/" ><i class="fa-duotone fa-house-chimney"><span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-home fa-stack-1x fa-inverse"></i>
            </span></i>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" _msttexthash="72878" _msthash="491" routerLink="/tienda" ><i class="fa-duotone fa-house-chimney"><span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>

            </span></i>Tienda</a>

          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" _msttexthash="59059" _msthash="490"routerLink="/formulario"><i class="fa-duotone fa-house-chimney"><span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-user fa-stack-1x fa-inverse"></i>
            </span></i>Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>



<div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets\img\tataiCopia.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets\img\logoCopia.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets\img\logoCopia.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>











